openapi: 3.0.3
info:
  title: GoodHire Packages API
  version: '1.0'
  x-endpointsModeled: true
  description: 'RESTful, FCRA-compliant employment background check API for GoodHire (a Checkr company). Background checks are ordered by creating a report object tied to a candidate and a screening package (product bundle); status changes are delivered via outbound webhooks. The API is split into a Customer API (a single company ordering its own reports) and a Partner API (HR platforms ordering on behalf of embedded employer requestors).


    Access is gated - request an API key from api@goodhire.com and build against the sandbox (https://api-sandbox.goodhire.com), which returns dummy report data, before moving to production.


    NOTE: This document mixes endpoints confirmed from GoodHire''s public docs with endpoints and schemas honestly modeled from documented resource patterns (x-endpointsModeled: true). It is a discovery aid, not a byte-for-byte mirror of GoodHire''s official reference.'
  contact:
    name: GoodHire API Team
    email: api@goodhire.com
    url: https://www.goodhire.com/api/
servers:
- url: https://api.goodhire.com
  description: Production
- url: https://api-sandbox.goodhire.com
  description: Sandbox (returns dummy report data)
security:
- ApiKeyAuth: []
tags:
- name: Packages
  description: List available screening packages (product bundles) and prices.
paths:
  /company/{company_id}/requestor/{requestor_id}/productbundles:
    get:
      tags:
      - Packages
      summary: List product bundles (packages)
      description: Retrieve all screening packages (product bundles) available to the account along with their prices. Confirmed endpoint.
      operationId: listProductBundles
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      - $ref: '#/components/parameters/RequestorId'
      responses:
        '200':
          description: Available packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ProductBundle:
      type: object
      description: A screening package available to the account, with price.
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
          description: Per-check price in USD.
        screenings:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    RequestorId:
      name: requestor_id
      in: path
      required: true
      schema:
        type: string
    CompanyId:
      name: company_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as: Authorization: ApiKey <API_KEY>. Request keys from api@goodhire.com.'
